- var pageTitle= 'Title about something ...'
- var pageTitle= 'Contacts'
- var pageTitle= 'Main page'

- var message = 'Click Me HARD!'  

-
    var cards = [
        {
            photo: 'images/image-brick.png',
            name: 'Кирпич керамический Озёрский одинарный',
            desc: [
                {key: 'Вид', val: 'пустотелый'},
                {key: 'Марка', val: 'М150'},
                {key: 'Поверхность', val: 'рифлёный'},
                {key: 'Размер', val: '250х120х88'},
                {key: 'Формат', val: '1,4 НФ'},
                {key: 'Цвет', val: 'Красный'}
            ],
            price: '11,06 руб/шт',
        },
    ]