@mixin makebutton($bg-color, $color, $radius) {
    background-color: $bg-color;
    color: $color;

    &:hover {
        background-color: lighten($bg-color, 10%);
        cursor: pointer;
    }

    &:disabled {
        background-color: darken($bg-color, 30%);
        cursor: default;
    }

    padding: 0.5em 1.2em;

    font: {
        family: Georgia;
        size: $extralarge;
    }
    border: {
        radius: $radius;
    }
}

@mixin makeThemeButtons {
    @each $status, $color in $themePallete {
        &-#{$status} {
            @include makebutton($color, $white, 30px);
        }
    }
}

@mixin makeButtonsSize {
    @each $status, $size in $sizePallete {
        &-#{$status} {
            padding: 0.5em 1.2em;
        }
    }
}

.button {
    @include makeThemeButtons;
}

.button {
    @include makeButtonsSize;
}
