%button {
    width: 200px;
    height: 100px;
    font-size: $extralarge;
    border-radius: 30px;
}

.btn4-active {
    @extend %button;
    color: $white;
    background-color: $blue
}

// .btn4-active {
//     @extend %button;
//     color: $white;
//     background-color: nth($themePallete, 3);
// }

.btn4-disabled {
    @extend %button;
    background-color: $grey;
}

@mixin makebutton($bg-color, $color, $f_size, $radius) {
    background-color: $bg-color;
    color: $color;
    
    &:hover {
        background-color: lighten($bg-color, 10%);
        cursor: pointer;

        &:disabled {
            background-color: darken($bg-color, 30%);
            cursor: default;      
        }      
    }    
    
    padding: {
        left: px2em(1.2 * $f_size);
        right: px2em(1.2 * $f_size);
        top: px2em(0.5 * $f_size);
        bottom: px2em(0.5 * $f_size);
    }

    font: {
        family: Georgia;
        size: $f_size;
    }
    border: { 
        radius: $radius;
    }
}

@mixin makeThemeButtons {
    @each $status, $color in $themePallete {
        &-#{$status} {
            @include makebutton($color, $white, $extralarge, 30px)
        }
    }
}

@mixin makeButtonsSize {
    @each $status, $size in $sizePallete {
        &-#{$status} {
            @include makebutton($blue, $white, $size, 10px)
        }
    }
}

.btn5-active {
    @include makebutton($blue, $white, $extralarge, 30px)
}

.btn5-disabled {
    @include makebutton($grey, $black, $extralarge, 30px)
}

.btn6-color {
    @include makeThemeButtons
}

.btn6-size {
    @include makeButtonsSize
}

.btn7 {
    @include makebutton(red, $white, $extralarge, 15px)
}


