.Img {
    width: 100%;
}

.container {
    max-width: 50%;
    margin: auto auto;
    padding: 0 10px;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots {
    margin: 10px auto;
}