mixin createButton(text, them, size, isDisabled)
  button(class = 'button-' + them + ' button-' + size, disabled = isDisabled) #{text}

- var message = 'Click Me HARD!'  
+createButton(message, 'warning', 'medium', false)