mixin card(name, info)
  .doctor-card
    .doctor-card-image
      //- if (srcImg)
      //-   img(class='Img' src=srcImg alt='Image')
      //- else
      //-   img(class='Img' src='' alt='no-Image' )
    .doctor-card-info
      p.doctor-card-name #{name}
      p.doctor-card-work #{info}
      .doctor-card-social
        a(href='')
          img(src='images/fb.png')
        a(href='')
          img(src='images/tw.png')
        a(href='')
          img(src='images/ld.png')



