mixin createCard(srcImg, name, params, price)
  .card
    br
    img(src=srcImg alt='Image')
    .info 
      h2 asd sda
      p #{params}
      h3 #{price}

+createCard('images/imaged.png', 'NAME', 'SDA', "300 bucks")