extends ../layout/baseLayout

block variables
  -
    var bestServiceValues = [
    'Search your specialist & Online consultations anywhere',
    'Consultation our top specialists',
    'Doctors are available 24/7',
    ]
  -
    var review = [
      {
        name: 'Alan Zara dilan',
        photo: 'images/alan.png',
        location: 'New York, America, USA',
        message: 'Telehealth is fueled by digital technologies and DocTime telemedicine'
        + 'app has brought a great revolution in medical services specially an overpopulated'
        + 'country where virtual chamber can create at anywhere thoughout country',
      },
      {
        name: 'Alex Maxwell',
        photo: 'images/alex.png',
        location: 'San Francisco, USA',
        message: 'I visited my PCP for abdominal pain. My doctor told me that I need to see'
        + 'Gastroenterologist. Earlier I used to call multiple offices to schedule an'
        + 'appointment that suites my time.',
      },
      {
        name: 'Dr. Tasnim zara',
        photo: 'images/dr tasnim.png',
        location: 'Los Angeles, USA',
        message: 'HealthCare is enlightens my superpower each and every time...!'
        + 'I find DocTime a brand-able telemedicine platform with virtual waiting room,'
        + 'video consultation, e-prescription, beautifully planned user interface. Thank you :)',
      },
    ]

block header
  .navigation
    .logo.logo-health
      p HEALTHCARE
    .nav
      .links
        a(href='').link-home Home
        a(href='') About
        a(href='') Article
        a(href='') Services
      .btn-ready
        a(href='').link-get-started
          +button('', 'Get Started', 'info', '', false)
block main
  .section-hero
    .service
      .text-main
        p Find And Search Your
        p Suitable Doctors
      .text-sub
        p.
          Join us and take care of yourself and your family with health
          services that will make you feel confident and safe in your
          daily life.
      .searching
        .searching-doctor
          p Find your doctor
        .searching-place
          img(src='images/Icon.png')
          p New York, USA
          img(src='images/Arrow - Left 2.png')
        a(href='')
          +button('images/Search_button.png', '', 'info', 'medium', false)
    .hero
      img(src='images/doctor-centered.png' alt='Doctor (woman)')
  .section-steps
    p 3 Easy Steps and Get Your Solution
    .services
      .icons
        img(src='images/search-icon.svg')
        p Find best doctors
        p.
          Find your doctor easily with a minimum of effort. We've kept
          everything organised for you
      .icons
        img(src='images/Appointment-icon.png')
        p Get Appointment
        p.
          Ask for an appointment of the doctor quickly with almost a single
          click. We take care of the rest.
      .icons
        img(src='images/Consultancy-icon.png')
        p Happy Consultations
        p.
          Do consultations and take the service based on your appointment.
          Get back to good health
  .section-best-service
    .best-service-img
      img(src="images/quality-doctor.png" alt="Quality Doctor (man)")
    .best-service-content
      p Best quality service with our experience doctors
      p.
        With our top doctors, we are able to provide best medical services above
        average We have highly experienced doctors, so don't worry They are also
        very talented in their fields
      ul
        each val in bestServiceValues
          li
            span= val
        else
          li
            span There are no values
      a(href='')
        +button('images/arrow-right.png', 'Explore specialists', 'info', '', false)
  .section-our-service
    p Our Service
    p.
      Our doctors have high qualified skills and are guaranteed to help you recover
      from your disease.
  .service-slider
    .main-slider
      +slider('images/heart.png', '1', 'Cardiology', 'Our cardiologists are skilled at  the diagnosing and treating diseases of the cardiovascular system.')
      +slider('images/lungs-icon.svg', '2', 'Pulmonology', 'Our Pulmonologist are skilled at  diagnosing treating diseases of the Pulmonology system.')
      +slider('images/pill.png', '3', 'Medicine', 'Our medcine doctor are skilled at  diagnosing treating diseases of the  latest medicne system.')
      +slider('images/heart.png', '1', 'Cardiology', 'Our cardiologists are skilled at  the diagnosing and treating diseases of the cardiovascular system.')
      +slider('images/lungs-icon.svg', '2', 'Pulmonology', 'Our Pulmonologist are skilled at  diagnosing treating diseases of the Pulmonology system.')
      +slider('images/pill.png', '3', 'Medicine', 'Our medcine doctor are skilled at  diagnosing treating diseases of the  latest medicne system.')
  .section-online-doctor
    p Meet Our Certified Online Doctors
    p.
      Our online doctors have an average of 15 years experience and a 98% satisfaction
      rating, they really set us apart!
    .doctor-certified
      +card('Dr Amanda Linda ', 'Dentist Specilist')
      +card('Dr. Alisa Rahman', 'Carddiologist Specilist')
      +card('Dr. Anthony Fauci', 'Neurology Specilist')
      +card('Dr. Khalid Abbed', 'Cancer Specilist')
    .doctor-btn-explore
      a(href='')
        +button('', 'Explore All Doctors', 'info', '', false)
  .section-app
    .image-app
    .app-info
      p
        |Mobile apps are available
        |Get HealthCare for free!
      p.
        Get on-demand access to a doctor on your phone with the free HealthCare mobile
        app. Download and register on our app for free and feel safe for all your family
      .app-links-icon
        a(href='')
          img(src='images/play-store-btn.svg')
        a(href='')
          img(src='images/app-store-btn.svg')
  .section-reviews
    p.review-header Look our Clients have to say about us
    .slider-reviews
      .main-slider
        +slider-reviews(review[0].photo, review[0].name, review[0].location, review[0].message)
        +slider-reviews(review[1].photo, review[1].name, review[1].location, review[1].message)
        +slider-reviews(review[2].photo, review[2].name, review[2].location, review[2].message)
        +slider-reviews(review[0].photo, review[0].name, review[0].location, review[0].message)
        +slider-reviews(review[1].photo, review[1].name, review[1].location, review[1].message)
        +slider-reviews(review[2].photo, review[2].name, review[2].location, review[2].message)
  .section-book
    .book-info
      p It’s time change your life today
      a(href='')
        +button('', 'Book an Appointment', 'info', '', false)
    .book-image
      img(src='images/smiling-young-female-doctor.png' alt='')
block footer
  .section-footer
    .foot-contacts
      p.logo-health HEALTHCARE
      p.dm-sans Metairie, 3689  Bassel Street, LA, Louisiana
      p.dm-sans Contact us: 225-788-5489
      .foot-socials
        a(href='')
          img(src='images/facebook.png')
        a(href='')
          img(src='images/instagram.png')
        a(href='')
          img(src='images/twitter.png')
        a(href='')
          img(src='images/youtube.png')
    .foot-service
      a(href='')
        p.foot-main Category
      a(href='')
        p Home
      a(href='')
        p About
      a(href='')
        p Services
      a(href='')
        p Reviews
      a(href='')
        p Article
    .foot-about
      a(href='')
        p.foot-main About
      a(href='')
        p Partners
      a(href='')
        p Careers
      a(href='')
        p Press
      a(href='')
        p Community
    .foot-news
      p.dm-sans Subscribe newsletter
      p.dm-sans Sign up for tips, new destinations, and exclusive promos.
    .foot-rights.dm-sans
      p.rights-logo © 2021 Healthcare - All rights reserved.
      a(href='')
        p.rights-privacy Privacy
      a(href='')
        p.rights-security Security
      a(href='')
        p.rights-terms Terms



